In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
import seaborn as sn
import matplotlib.pyplot as plt

In [34]:
df = pd.read_csv('all.csv')
df.head()

,Unnamed: 0,Unnamed: 0.1,treatments,users,member_since,num_collections,num_recipes,num_articles,following,followers,contest_wins,contest_finalists,test_kitch_approved
0,0,0,1,mrslarkin,"July 28, 2009",63,192,2,529,851,6,8,75
1,1,1,1,enbe,"May 24, 2010",16,6,4,18,95,0,0,1
2,2,2,1,Mary,"August 26, 2016",1,0,0,1,0,0,0,0
3,3,3,1,Isabelle,"October 20, 2016",9,0,0,0,0,0,0,0
4,4,4,1,Danielle Donohue,"November 23, 2014",2,0,0,0,1,0,0,0

In [ ]:
x = df[['num_collections', 'num_recipes', 'following', 'followers', 'contest_wins', ]]
y = df['treatments']
y.shape

In [ ]:
x_train, x_test,y_train, y_test = train_test_split(x,y,test_size=0.25,random_state = 0)

In [ ]:
logistic_regression= LogisticRegression()
logistic_regression.fit(x_train,y_train)
y_pred=logistic_regression.predict(x_test)

In [ ]:
confusion_matrix = pd.crosstab(y_test, y_pred, rownames=['Actual'], colnames=['Predicted'])
sn.heatmap(confusion_matrix, annot=True)

In [ ]:
print('Accuracy: ',metrics.accuracy_score(y_test, y_pred))
plt.show()